.col-image{
  padding: 0;
}

.container-image{
  margin-top: 50px;
}

.row-image{
  min-height: 150px;
}

.col-btn{
  text-align: center;
  padding-top: 3%;
}

.col-title{
  padding-top: 3%;
  text-align: center;
  color: #FF8A00;
  font-size: 30px;
}

h3{
  font-size: 60px;
}

.col-btn a{
  font-size: 25px;
  line-height: inherit;
}

nav {
  background-color: #FF8A00;
  max-height: 50px;
}

nav a{
  float: right;
  padding: 10px;
  font-size: 20px;
  line-height: inherit;
  color: #FFFFFF;
}

nav a:first-child{
  float:left;
}

header{
  height: auto;
  font-size: 25px;
}
