.col-image{
  padding: 0;
}

.row-image{
  min-height: 150px;
}

.col-btn{
  text-align: center;
  padding-top: 3%;
}

.col-coll{
  text-align: center;
  padding-top: 20%;
  font-size: 5%;
}

.btn-danger{
  background-color: #FF8A00;
  border: none;
}

.col-coll p{
  padding-top: 3%;
}

.col-title{
  padding-top: 3%;
  text-align: center;
  color: #FF8A00;
  font-size: 30px;
}

.collapse{
  text-align: right;

}

h3{
  font-size: 60px;
}

.col-btn a{
  font-size: 25px;
  line-height: inherit;
}

nav {
  background-color: #FF8A00;
}


ul li {
  float: right;
}

header{
  height: auto;
  font-size: 25px;
}
